/* ============= SearchBar ========= */
div.search-bar {
  background: #ff8c7f;
  display: flex;
}
div.search-bar > div {
  margin: 20px auto;
}

input,
button {
  font-size: 20px;
  padding: 5px;
  outline: 0;
}
input {
}

/* ============= SearchTerms ============ */
h2 {
  text-align: center;
}
div.search-terms {
  border: 2px solid black;
  min-height: 60px;
  max-width: 80%;
  z-index: 60;
  background: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

div.term {
  border: 2px solid black;
  border-radius: 25px;
  background: blue;
  flex: 1;
  padding: 2px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  min-width: 150px;
  height: 25px;
}
div.term span {
  float: right;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  height: 23px;
  width: 23px;
  vertical-align: top;
  position: relative;
  top:-1px;
}
div.term:hover {
  background: lightblue;
}

div.term span:hover {
  background: darkblue;
  cursor: pointer;
}

div.title {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
