/* ============= SearchBar ========= */
div.page {
  padding-bottom: 60px;
  background: #e97e72;

}
div.search-bar {
  background: #ff8c7f;
  display: flex;
}
div.search-bar > div {
  margin: 20px auto;
}

div.search-bar input,
div.search-bar button {
  font-size: 20px;
  padding: 5px;
  outline: 0;
  border: none;
  box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, 0.055);
  background: hsl(6, 50%, 75%);
}
div.search-bar input {
  border-radius: 4px 0 0 4px;
}
div.search-bar button {
  border-radius: 4px 0 0 4px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

/* ============= SearchTerms ============ */
h2 {
  text-align: center;
}
div.search-terms {
  background: hsl(42, 90%, 67%);
  min-height: 60px;
  max-width: 80%;
  z-index: 60;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.466);
  border-radius: 2px 15px;
}

div.term {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  border-radius: 25px;
  background: hsl(42, 90%, 62%);
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  min-width: 90px;
  max-width: 280px;
  height: 25px;
  flex-grow: 1;
}
div.term p {
  margin: 0;
}
div.term button {
  background: hsl(42, 90%, 62%);
  float: right;
  border: 2px solid hsl(42, 90%, 67%);
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  width: 23px;
  vertical-align: text-top;
  padding-bottom: 2px;
  outline: none;
}
div.term:hover {
  background: hsla(42, 90%, 62%, 0.411);
}

div.term button:hover {
  background: hsla(42, 90%, 20%, 0.89);
  cursor: pointer;
}

div.title {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
div.ingredient-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 95%;
}
div.ingredient-buttons button {
  margin: 0 20px 15px;
  padding: 10px;
  font-size: 20px;
  padding: 5px;
  outline: 0;
  border: none;
  box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, 0.055);
  background: hsl(6, 50%, 75%);
  cursor: pointer;
  border-radius: 2px;
}
div.ingredient-buttons button:hover {
  transform: scale(1.05);
}
/* =========  Results =========== */
div.results {
  min-height: 300px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  background: hsl(42, 90%, 67%);
  padding: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.466);
  border-radius: 3px 15px;
}

div.results div.recipe-card {
  background: #ff8c7f;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 4px 2px #00000015;
  -moz-box-shadow: 1px 1px 4px 2px #00000015;
  box-shadow: 1px 1px 4px 2px #00000015;
  border-radius: 3px 15px;
  opacity: 1;
  animation: fadeIn 2s linear 1;
}

div.recipe-name h3 {
  text-align: center;
  margin: 20px auto;
  width: 60%;
}

div.recipe-image img {
  margin: 10px 45px;
  width: 80%;
  box-shadow: 2px 2px 2px black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  div.search-terms {
    width: 60%;
  }
  div.ingredient-buttons {
    width: 82%;
  }
  div.results {
    width: 50%;
  }
}
