{
  "extends": ["airbnb"],
  "plugins": ["react", "jsx-a11y", "import", "flowtype-errors"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-extension": "off",
    "react/wrap-multilines": "off",
    "flowtype-errors/show-errors": 2,
    "flowtype-errors/enforce-min-coverage": [2, 50],
    "quotes": [1, "single"]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  }
}
